snippet sigmaS "symbol Sigma" iA
σ
endsnippet

snippet implementS "symbol implment" iA
⊢
endsnippet

snippet unionS "symbol union" iA
∪
endsnippet

snippet interS "symbol inter" iA
∩
endsnippet

snippet subsetS "subset symbol" iA
⊆
endsnippet

snippet negS "neg symbol" iA
¬
endsnippet

snippet composeS "otime symbole" iA
⊗
endsnippet

snippet refineS "refine symbole" iA
≼
endsnippet
