snippet dm "Display math" b
\[ $1 \]
endsnippet

snippet \/ "Logical or" i
\lor
endsnippet

snippet /\ "Logical and" i
\land
endsnippet

snippet ! "Forall"
\forall
endsnippet

snippet ? "Exists"
\exists
endsnippet

snippet ... "Dots" i
\dots
endsnippet

snippet -> "To"
\to
endsnippet

snippet _ "subscript" i
_{$1}$2
endsnippet

snippet <= "Lower equal"
\leq
endsnippet

snippet >= "Greater equal"
\geq
endsnippet

snippet | "mid"
\mid
endsnippet
