snippet dm "Display math" b
\[ $1 \]
endsnippet

snippet \/ "Logical or" i
\lor
endsnippet

snippet /\ "Logical and" i
\land
endsnippet

snippet ! "Forall"
\forall
endsnippet

snippet ... "Dots"
\dots
endsnippet

snippet -> "To"
\to
endsnippet

snippet _ "subscript" i
_{$0}
endsnippet

snippet <= "Lower equal"
\leq
endsnippet

snippet >= "Greater equal"
\geq
endsnippet
